export(normalize)
import(RCSF)
importFrom(tidyr, "%>%")
importFrom(Rcpp, evalCpp)
importFrom("stats", "sd", "uniroot", "var")
useDynLib(FORTLS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
